html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#body[data-display-mode="light"] {
    background-color: white;
}

#body[data-display-mode="dark"] {
    background-color: black;
}

.header-container {
    height: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 25px;
    user-select: none;
} 

.header-container[data-display-mode="light"] {
    background-color: white;
}

.header-container[data-display-mode="dark"] {
    background-color: black;
}

.title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

.title[data-display-mode="light"] {
    color: black;
}

.title[data-display-mode="dark"] {
    color: white;
}

.display-mode-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    padding: 0;
}

#light-mode-icon,
#dark-mode-icon {
    width: 50px;
    height: 50px;
}

#light-mode-button:hover {
    background-color: rgb(44, 44, 44);
}

#light-mode-button[data-display-mode="dark"] {
    display: block;
}

#light-mode-button[data-display-mode="light"] {
    display: none;
}

#dark-mode-button:hover {
    background-color: rgb(235, 235, 235);
}

#dark-mode-button[data-display-mode="light"] {
    display: block;
}

#dark-mode-button[data-display-mode="dark"] {
    display: none;
}

.scoreboard-container {
    width: 1000px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -285px;
    position: absolute;
    box-sizing: inherit;
    text-align: center;
}

.scoreboard {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.scoreboard[data-display-mode="light"] {
    color: black;
}

.scoreboard[data-display-mode="dark"] {
    color: white;
}

.scoreboard div {
    display: inline-block;
}

.scoreboard span {
    display: block;
}

.swap-buttons {
    display: inline-block;
    margin: 0 -60px 0 0;
    vertical-align: top;
}

.scoreboard-container button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    cursor: pointer;
}

.scoreboard-container button[data-display-mode="light"] {
    color: black;
    background-color: white;
    border: black solid 2px;
}

.scoreboard-container button[data-display-mode="dark"] {
    color: white;
    background-color: black;
    border: white solid 2px;
}

.scoreboard-container button[data-display-mode="light"]:hover {
    background-color: rgb(235, 235, 235);
}

.scoreboard-container button[data-display-mode="dark"]:hover {
    background-color: rgb(50, 50, 50);
}

.scoreboard-container button#one-player[data-players="one"] {
    display: inline-block;
}

.scoreboard-container button#one-player[data-players="two"] {
    display: none;
}

.scoreboard-container button#two-player[data-players="two"] {
    display: inline-block;
}

.scoreboard-container button#two-player[data-players="one"] {
    display: none;
}

.game-container {
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -185px;
    width: 500px;
    height: 500px;
    position: absolute;
    box-sizing: inherit;
}

.game-container[data-display-mode="light"] {
    background-color: white;
}

.game-container[data-display-mode="dark"] {
    background-color: black;
}

.gameboard {
    display: grid;
    width: 100%;
    aspect-ratio: 1 / 1;
    grid-template-columns: auto auto auto;
    gap: 3px;
}

.gameboard[data-display-mode="light"] {
    background-color: black;
}

.gameboard[data-display-mode="dark"] {
    background-color: white;
}

.box {
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.box.x {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.box.o {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.box.x[data-display-mode="light"] {
    background-image: url('data:image/svg+xml,%3Csvg%20id%3D%22e9bL7x4R2w81%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20300%20300%22%20shape-rendering%3D%22geometricPrecision%22%20text-rendering%3D%22geometricPrecision%22%3E%3Cline%20x1%3D%22-146.890827%22%20y1%3D%22-147.186269%22%20x2%3D%22146.890827%22%20y2%3D%22147.186269%22%20transform%3D%22matrix(0-.967399%200.963596%200%20150%20150.277071)%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%2224%22%2F%3E%3Cline%20x1%3D%22-146.890827%22%20y1%3D%22-147.186269%22%20x2%3D%22146.890827%22%20y2%3D%22147.186269%22%20transform%3D%22matrix(-.967399%200%200-.963596%20150%20150.277071)%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%2224%22%2F%3E%3C%2Fsvg%3E%0A');
}

.box.x[data-display-mode="dark"] {
    background-image: url('data:image/svg+xml,%3Csvg%20id%3D%22ei0z691aWVC1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20300%20300%22%20shape-rendering%3D%22geometricPrecision%22%20text-rendering%3D%22geometricPrecision%22%3E%3Cline%20x1%3D%22-146.890827%22%20y1%3D%22-147.186269%22%20x2%3D%22146.890827%22%20y2%3D%22147.186269%22%20transform%3D%22matrix(0-.967399%200.963596%200%20150%20150.277071)%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%2224%22%2F%3E%3Cline%20x1%3D%22-146.890827%22%20y1%3D%22-147.186269%22%20x2%3D%22146.890827%22%20y2%3D%22147.186269%22%20transform%3D%22matrix(-.967399%200%200-.963596%20150%20150.277071)%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%2224%22%2F%3E%3C%2Fsvg%3E%0A');
}

.box.o[data-display-mode="light"] {
    background-image: url('data:image/svg+xml,%3Csvg%20id%3D%22eBhQCGuToIr1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20300%20300%22%20shape-rendering%3D%22geometricPrecision%22%20text-rendering%3D%22geometricPrecision%22%3E%3Cellipse%20rx%3D%2230.100058%22%20ry%3D%2230.100058%22%20transform%3D%22matrix(4.60132%200%200%204.60132%20150%20150)%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%225%22%2F%3E%3C%2Fsvg%3E%0A');
}

.box.o[data-display-mode="dark"] {
    background-image: url('data:image/svg+xml,%3Csvg%20id%3D%22euE0GRTit9L1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20300%20300%22%20shape-rendering%3D%22geometricPrecision%22%20text-rendering%3D%22geometricPrecision%22%3E%3Cellipse%20rx%3D%2230.100058%22%20ry%3D%2230.100058%22%20transform%3D%22matrix(4.60132%200%200%204.60132%20150%20150)%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%225%22%2F%3E%3C%2Fsvg%3E%0A');
}

.box[data-display-mode="light"]:hover {
    background-color: rgb(235, 235, 235);
}

.box[data-display-mode="dark"]:hover {
    background-color: rgb(35, 35, 35);
}

.box[data-display-mode="light"] {
    background-color: white;
}

.box[data-display-mode="dark"] {
    background-color: black;
}

